// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.mechanics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        display: flex;
        h2 {
            color: crimson;
            margin: 0px 5px;
        }
    }
    .buttons {
        display: flex;
        button,
        a {
            margin: 5px 10px;
            
        }
        button {
            transform: rotate(1deg);
        }
    }
}
textarea.form-control {
    min-height: 200px;
}